<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <title th:text="#{professionals_text}"></title>
    <link rel="stylesheet" th:href="@{/css/listaProfissionais.css}" />
</head>

<body>

    <header>
        <h1 align="center" th:text="#{list_professionals_text}"></h1>
    </header>

    <div class="content">

        <div align="center" th:if="${sucess} != null">
            <span> <strong style="color: green;" th:text="${sucess}"></strong> </span>
        </div>
        <div align="center" th:if="${fail} != null">
            <span> <strong style="color: red;" th:text="${fail}"></strong> </span>
        </div>

        <div align="center" class="add-prof" sec:authorize="hasAuthority('ADMIN')">
            <a class="btn-add" th:text="#{prof.add}" th:href="@{/professionals/cadastrar}">
            </a>
        </div>

        <div align="center">
            <form class="content-form" name='form' action="/professionals/listar" method="get">
                <div style="display: flex; flex-direction: row;">
                    <div class="input-content">
                        <label for="knowledgeArea">Área de Conhecimento</label>
                        <select id='knowledgeArea' name='knowledgeArea'>
                            <option value='--'>--</option>
                            <option value="Advocacia">Advocacia</option>
                            <option value="Medicina">Medicina</option>
                            <option value="Psicologia">Psicologia</option>
                        </select>
                    </div>
                    <div class="input-content" style="margin-left: 15px;">
                        <label for="expertise">Expertise</label>
                        <select name="expertise">
                            <option value="">--</option>
                            <span th:each="expertise : ${expertises}">
                                <option th:value="${expertise}" th:text="${expertise}"></option>
                            </span>
                        </select>
                    </div>
                </div>

                <input class="btn" style="margin-top:10px" type="submit" th:value="#{filter.text}">
            </form>
            <form style="margin:10px" name='form-button-clear' action="/professionals/listar">
                <input class="btn" type="submit" th:value='#{clear.filter.text}'>
            </form>
        </div>


        <div align="center">
            <table id="customers" class="">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th th:text="#{professional.cpf.label}"></th>
                        <th th:text="#{professional.email.label}"></th>
                        <th th:text="#{professional.name.label}"></th>
                        <!--<th th:text="#{professional.password.label}"></th>-->
                        <!--<th th:text="#{professional.role.label}"></th>-->
                        <th th:text="#{professional.expertise.label}"></th>
                        <th th:text="#{professional.knowledgeArea.label}"></th>
                        <th th:text="#{professional.qualifications.label}"></th>
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <th th:text="#{action.label}"></th>
                        </div>
                        <div sec:authorize="hasAuthority('CLIENT')">
                            <th th:text="#{action.label}"></th>
                        </div>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="profissional : ${profissionais}">
                        <td th:text="${profissional.id}"></td>
                        <td th:text="${profissional.cpf}"></td>
                        <td th:text="${profissional.email}"></td>
                        <td th:text="${profissional.name}"></td>
                        <!--<td th:text="${profissional.password}"></td>-->
                        <!--<td th:text="${profissional.role}"></td>-->
                        <td th:text="${profissional.expertise}"></td>
                        <td th:text="${profissional.knowledgeArea}"></td>
                        <td style="text-align: center"><a
                                th:href="@{/professionals/download/{id} (id=${profissional.id}) }"
                                th:text="${profissional.filename}"></a></td>
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <td>
                                <a class="" th:text="#{edit_text}"
                                    th:href="@{/professionals/editar/{id} (id=${profissional.id}) }">
                                </a>
                                <a class="" th:text="#{remove_text}"
                                    th:href="@{/professionals/excluir/{id} (id=${profissional.id}) }">
                                </a>
                            </td>
                        </div>
                        <div sec:authorize="hasAuthority('CLIENT')">
                            <td>
                                <a class="" th:text="#{schedulling.text}"
                                    th:href="@{/consultas/agendar/{id} (id=${profissional.id}) }">
                                </a>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="home" th:href="@{/}"> &laquo; Home</a>

</body>

</html>